<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.GoodsMapper">
    <select id="list" resultType="com.example.pojo.Goods">
        select id,name,cover_img,price from goods
        <where>
            <if test="name!=null">
                match (name) against (#{name} in boolean mode)
            </if>
            <if test="categoryId">
                and category_id=#{categoryId}
            </if>
        </where>
    </select>

    <select id="listSDesc" resultType="com.example.pojo.Goods">
        select id,name,cover_img,price from goods
        <where>
            <if test="name!=null">
                match (name) against (#{name} in boolean mode)
            </if>
            <if test="categoryId">
                and category_id=#{categoryId}
            </if>
        </where>
        order by sell desc
    </select>

    <select id="listPDesc" resultType="com.example.pojo.Goods">
        select id,name,cover_img,price from goods
        <where>
            <if test="name!=null">
                match (name) against (#{name} in boolean mode)
            </if>
            <if test="categoryId">
                and category_id=#{categoryId}
            </if>
        </where>
        order by price desc
    </select>

    <select id="listPAsc" resultType="com.example.pojo.Goods">
        select id,name,cover_img,price from goods
        <where>
            <if test="name!=null">
                match (name) against (#{name} in boolean mode)
            </if>
            <if test="categoryId">
                and category_id=#{categoryId}
            </if>
        </where>
        order by price asc
    </select>
</mapper>
